.card {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 8px;
  padding: 2rem;
  width: 400px;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.card h2 {
  color: #3fb950;
  margin-bottom: 1rem;
}

.card p,
.card a {
  color: #c9d1d9;
  font-size: 1.1rem;
}

.card strong {
  color: #3fb950;
}

.card a {
  text-decoration: none;
  color: #58a6ff;
}
.card a:hover {
  color: #3fb950;
}

/* Cambiarlo por un mail to para que cuando le de al gmail le salga para enviarme un correo*/
.card .btn {
  background-color: #21262d;
  border: 1px solid #3fb950;
  color: #3fb950;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}
.card .btn:hover {
  background-color: #3fb950;
  color: #0d1117;
}
