.mb-4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

/*Contenedor padre*/
.row {
  padding: 20px;
  display: grid;/* Aqui iba el display grid */
  grid-template-columns: repeat(4,1fr); /* repite 4 por fila ocupando 1fr*/
  justify-items: center; /* centra las tarjetas dentro de su celda */

}

/*Contenedores hijos*/
.col {
  flex: 1;
  min-width: 250px; /* para que se adapten */
  display: inline-block;
  margin: 40px;
}

.card {
  position: relative;
  background-color: #0d1117; /* mismo fondo que la web */
  border-radius: 12px;
  padding: 20px;
  margin: 15px 0;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 90%;          /* ocupa casi todo el ancho en móvil */
  max-width: 350px;    
  min-height: 80px;    /* altura mínima */
  display: flex;       
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;   /* centra texto y enlaces */
}

/* Estilos fuentes */
img{
  color: #3fb950;
}

p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3fb950;
}

h5{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3fb950;
}

h2{
  text-align: center;
  color: #3fb950; /* verde GitHub */
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-size: 3rem;              
  font-weight: 700;                         
  text-align: center;          
  font-family: 'Poppins', sans-serif; 
}

.card:hover {
  transform: translateY(-5px);
}

/* Borde neon animado */
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px; /* grosor del borde */
  background: linear-gradient(270deg, #ff00ff, #00ffff, #ff0000, #00ff00);
  background-size: 600% 600%;
  animation: borderGlow 4s linear infinite;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  opacity: 0; /* invisible al inicio */
  transition: opacity 0.3s ease-in-out;
}

.card:hover::before {
  opacity: 1; /* se enciende el borde solo al pasar el ratón */
}

/* Animación */
@keyframes borderGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    padding: 2rem 1rem;
  }

  .about-container img {
    max-width: 180px;
    margin-bottom: 1.5rem;
  }

  .about-container p {
    font-size: 1rem;
    text-align: center; /* centrado en móvil */
  }

  .about-skills h3 {
    font-size: 1.6rem;
  }
}